{
  "swagger": "2.0",
  "host": "v5dev.boodskap.io",
  "basePath": "/api/micro2/service/call/commons/Verification",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "info": {
    "version": "1.0.11",
    "title": "Verification API",
    "description": "Powered By Boodskap IoT",
    "termsOfService": "https://boodskap.io/terms-conditions",
    "contact": {
      "name": "Boodskap Team"
    },
    "license": {
      "name": "MIT"
    }
  },
  "paths": {
    "/post/config": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Get Configuration",
        "description": "Get or set system wide configuration (domain admin role required)",
        "operationId": "getOrSetConfiguration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dkey",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EmptyReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          }
        }
      }
    },
    "/post/register": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Do Registration",
        "description": "Register an user to a domain",
        "operationId": "registerUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dkey",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Registration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegistrationRes"
            }
          }
        }
      }
    },
    "/post/verify": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Do Verification",
        "description": "Verify the pin with the token generated by the server",
        "operationId": "verifyPin",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dkey",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerificationReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VerificationRes"
            }
          }
        }
      }
    },
    "/post/login": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Do Login",
        "description": "Login a user into a domain",
        "operationId": "loginUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dkey",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VerificationRes"
            }
          }
        }
      }
    },
    "/post/reset": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Reset password",
        "description": "Geneate reset password email | sms",
        "operationId": "resetPassword",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dkey",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResetPassword"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BaseRes"
            }
          }
        }
      }
    },
    "/post/forgot": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Forgot password",
        "description": "Generate forgot password email | sms",
        "operationId": "forgotPassword",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dkey",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForgotPassword"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ForgotPasswordRes"
            }
          }
        }
      }
    },
    "/post/change": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Change password",
        "description": "Change existing user password",
        "operationId": "changePassword",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dkey",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangePassword"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BaseRes"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "EmptyReq": {
      "type": "object",
      "discriminator": "emptyReq"
    },
    "EmptyRes": {
      "type": "object",
      "discriminator": "emptyRes"
    },
    "BaseRes": {
      "type": "object",
      "discriminator": "baseRes",
      "required": [
        "ok"
      ],
      "properties": {
        "ok": {
          "type": "boolean"
        },
        "msg": {
          "type": "string"
        }
      }
    },
    "Configuration": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseRes"
        },
        {
          "type": "object"
        }
      ],
      "properties": {
        "enablePhoneVerification": {
          "type": "boolean"
        }
      }
    },
    "Login": {
      "allOf": [
        {
          "$ref": "#/definitions/EmptyReq"
        },
        {
          "type": "object"
        }
      ],
      "required": [
        "userId",
        "password"
      ],
      "properties": {
        "userId": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "Registration": {
      "allOf": [
        {
          "$ref": "#/definitions/EmptyReq"
        },
        {
          "type": "object"
        }
      ],
      "required": [
        "fname",
        "lname",
        "roles",
        "subject",
        "template"
      ],
      "properties": {
        "email": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "roles": {
          "type": "array",
          "default": "[\"user\"]",
          "items": {
            "type": "string"
          }
        },
        "subject": {
          "type": "string"
        },
        "template": {
          "type": "string"
        },
        "fname": {
          "type": "string"
        },
        "lname": {
          "type": "string"
        }
      }
    },
    "RegistrationRes": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseRes"
        },
        {
          "type": "object"
        }
      ],
      "required": [
        "config",
        "weather"
      ],
      "properties": {
        "pinToken": {
          "type": "string"
        },
        "authToken": {
          "type": "string"
        },
        "delivery": {
          "type": "object"
        }
      }
    },
    "VerificationReq": {
      "allOf": [
        {
          "$ref": "#/definitions/EmptyReq"
        },
        {
          "type": "object"
        }
      ],
      "type": "object",
      "required": [
        "pinToken",
        "pin"
      ],
      "properties": {
        "pinToken": {
          "type": "string"
        },
        "pin": {
          "type": "string"
        }
      }
    },
    "PlatformUser": {
      "allOf": [
        {
          "$ref": "#/definitions/EmptyRes"
        },
        {
          "type": "object"
        }
      ],
      "properties": {
        "email": {
          "type": "string"
        },
        "domainKey": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "address": {
          "type": "string"
        },
        "zipcode": {
          "type": "string"
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VerificationRes": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseRes"
        },
        {
          "type": "object"
        }
      ],
      "properties": {
        "authToken": {
          "type": "string"
        },
        "connCounter": {
          "type": "integer",
          "format": "int32"
        },
        "user": {
          "$ref": "#/definitions/PlatformUser"
        }
      }
    },
    "ResetPassword": {
      "allOf": [
        {
          "$ref": "#/definitions/EmptyReq"
        },
        {
          "type": "object"
        }
      ],
      "properties": {
        "userId": {
          "type": "string"
        },
        "pinToken": {
          "type": "string"
        },
        "pin": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "ForgotPassword": {
      "allOf": [
        {
          "$ref": "#/definitions/EmptyReq"
        },
        {
          "type": "object"
        }
      ],
      "properties": {
        "userId": {
          "type": "string"
        },
        "subject": {
          "type": "string"
        },
        "template": {
          "type": "string"
        }
      }
    },
    "ForgotPasswordRes": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseRes"
        },
        {
          "type": "object"
        }
      ],
      "required": [
        "pinToken"
      ],
      "properties": {
        "pinToken": {
          "type": "string"
        }
      }
    },
    "ChangePassword": {
      "allOf": [
        {
          "$ref": "#/definitions/EmptyReq"
        },
        {
          "type": "object"
        }
      ],
      "properties": {
        "userId": {
          "type": "string"
        },
        "oldPassword": {
          "type": "string"
        },
        "newPassword": {
          "type": "string"
        }
      }
    }
  }
}