{
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "info": {
    "version": "1.1.0",
    "title": "NoCode Verification API",
    "description": "NoCode Verification API",
    "termsOfService": "https:/boodskap.io/terms-conditions",
    "contact": {
      "name": "Boodskap Team"
    },
    "license": {
      "name": "MIT"
    }
  },
  "host": "auth.boodskap.io",
  "basePath": "/rest/nocode",
  "schemes": [
    "https"
  ],
  "paths": {
    "/verification/config": {
      "get": {
        "tags": [
          "Verification"
        ],
        "summary": "Get Configuration",
        "description": "Get or set system wide configuration (domain admin role required)",
        "operationId": "getOrSetConfiguration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dkey",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AuthConfiguration"
            }
          }
        }
      }
    },
    "/verification/register": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Do Registration",
        "description": "Register an user to a domain",
        "operationId": "registerUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dkey",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Registration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegistrationRes"
            }
          }
        }
      }
    },
    "/verification/verify": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Do Verification",
        "description": "Verify the pin with the token generated by the server",
        "operationId": "verifyPin",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dkey",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerificationReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VerificationRes"
            }
          }
        }
      }
    },
    "/verification/login": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Do Login",
        "description": "Login a user into a domain",
        "operationId": "loginUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dkey",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VerificationRes"
            }
          }
        }
      }
    },
    "/verification/reset": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Reset password",
        "description": "Geneate reset password email | sms",
        "operationId": "resetPassword",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dkey",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResetPassword"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BaseRes"
            }
          }
        }
      }
    },
    "/verification/forgot": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Forgot password",
        "description": "Generate forgot password email | sms",
        "operationId": "forgotPassword",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dkey",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForgotPassword"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ForgotPasswordRes"
            }
          }
        }
      }
    },
    "/verification/change": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Change password",
        "description": "Change existing user password",
        "operationId": "changePassword",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dkey",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangePassword"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BaseRes"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BaseRes": {
      "type": "object",
      "discriminator": "baseRes",
      "required": [
        "ok"
      ],
      "properties": {
        "ok": {
          "type": "boolean"
        },
        "msg": {
          "type": "string"
        },
        "trace": {
          "type": "string"
        }
      }
    },
    "AuthConfigurationBase": {
      "type": "object",
      "discriminator": "acBase",
      "properties": {
        "enablePhoneVerification": {
          "type": "boolean"
        }
      }
    },
    "AuthConfiguration": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseRes"
        },
        {
          "$ref": "#/definitions/AuthConfigurationBase"
        },
        {
          "type": "object"
        }
      ]
    },
    "Login": {
      "type": "object",
      "discriminator": "loginReq",
      "required": [
        "userId",
        "password"
      ],
      "properties": {
        "userId": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "Registration": {
      "type": "object",
      "discriminator": "regReq",
      "required": [
        "fname",
        "lname",
        "roles",
        "subject",
        "template"
      ],
      "properties": {
        "email": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "roles": {
          "type": "array",
          "default": "[\"user\"]",
          "items": {
            "type": "string"
          }
        },
        "subject": {
          "type": "string"
        },
        "template": {
          "type": "string"
        },
        "fname": {
          "type": "string"
        },
        "lname": {
          "type": "string"
        },
        "properties": {
          "type": "object",
          "default": {}
        }
      }
    },
    "RegistrationSuccess": {
      "type": "object",
      "discriminator": "regSuccess",
      "properties": {
        "pinToken": {
          "type": "string"
        },
        "authToken": {
          "type": "string"
        },
        "delivery": {
          "type": "object"
        }
      }
    },
    "RegistrationRes": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseRes"
        },
        {
          "$ref": "#/definitions/RegistrationSuccess"
        },
        {
          "type": "object"
        }
      ]
    },
    "VerificationReq": {
      "type": "object",
      "discriminator": "verifiyReq",
      "required": [
        "pinToken",
        "pin"
      ],
      "properties": {
        "pinToken": {
          "type": "string"
        },
        "pin": {
          "type": "string"
        }
      }
    },
    "PlatformUser": {
      "type": "object",
      "discriminator": "platUser",
      "properties": {
        "email": {
          "type": "string"
        },
        "domainKey": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "address": {
          "type": "string"
        },
        "zipcode": {
          "type": "string"
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VerificationSuccess": {
      "type": "object",
      "discriminator": "verifiyReq",
      "properties": {
        "authToken": {
          "type": "string"
        },
        "connCounter": {
          "type": "integer",
          "format": "int64"
        },
        "user": {
          "$ref": "#/definitions/PlatformUser"
        },
        "properties": {
          "type": "object",
          "default": {}
        }
      }
    },
    "VerificationRes": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseRes"
        },
        {
          "$ref": "#/definitions/VerificationSuccess"
        },
        {
          "type": "object"
        }
      ]
    },
    "ResetPassword": {
      "type": "object",
      "discriminator": "resetReq",
      "properties": {
        "userId": {
          "type": "string"
        },
        "pinToken": {
          "type": "string"
        },
        "pin": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "ForgotPassword": {
      "type": "object",
      "discriminator": "forgotReq",
      "properties": {
        "userId": {
          "type": "string"
        },
        "subject": {
          "type": "string"
        },
        "template": {
          "type": "string"
        }
      }
    },
    "ForgotPasswordSuccess": {
      "type": "object",
      "discriminator": "forgotReq",
      "required": [
        "pinToken"
      ],
      "properties": {
        "pinToken": {
          "type": "string"
        }
      }
    },
    "ForgotPasswordRes": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseRes"
        },
        {
          "$ref": "#/definitions/ForgotPasswordSuccess"
        },
        {
          "type": "object"
        }
      ]
    },
    "ChangePassword": {
      "type": "object",
      "discriminator": "changeReq",
      "properties": {
        "userId": {
          "type": "string"
        },
        "oldPassword": {
          "type": "string"
        },
        "newPassword": {
          "type": "string"
        }
      }
    }
  }
}